img {
    float: left;
    width: 30%;
    margin: 1.6%;
}
h2 {
    margin-left: 1.6%;
    border-bottom: 2px solid rgb(73, 71, 71);
    width: 30%;
    padding-bottom: 1%;
    font-family: 'Abril Fatface', cursive;
    color: rgb(73, 71, 71);
}